
<h1> Dragon Ball  page</h1>
<hr>
<section class=" row">
  <div class="col-12 col-sm-6">
    <h3> agregar:</h3>
    <input type="text" class="form-control" placeholder="Nombre">
    <input type="number" class="form-control mt-2" placeholder="poder">
<button class="mt-2 btn btn-primary">
  agregar
</button>
  </div>
  <div class="col-12 col-sm-6">
    <h3> Listado </h3>
    <ol>
     <li>GOKU</li>
     <li>GOKU</li>
     <li>GOKU</li>
     <li>GOKU</li>
     <li>GOKU</li>

    </ol>

  </div>

</section>
